body{
  background-image: url('./bg.jpg');
  background-size: cover;
}
h1{
  color: white
}
.container {
  width: 450px;
  margin: 0 auto;

}
.wrapperOuter{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wrapper {
  /*border: 1px dashed blue;*/
  width: 420px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  /*height: 500px;*/
  position: relative;
  float: left;
}

.box, .myBox {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  transition: all .2s ease-in;
  opacity: 1;
  display: flex;
  flex-flow: row wrap;
}

.shortImg{
position: absolute;
  z-index: 1;
  width: 9%;
}
.fire-tiny{
  position: absolute;
    z-index: 2;
    width: 10%;
}
.fire-tiny2{
  position: absolute;
    z-index: 2;
    width: 10%;
    top: 50px;
}
.hit{
  font-family: fantasy;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./battle-img/fire-tiny.png');
  background-position: center;
  background-size: cover;
}

.miss{
  font-family: fantasy;
  font-weight:bolder;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.player1{
    background-image: url(../images/grumpycat-m.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 1
}*/
